/* customize pure.css */
.pure-button-primary {
  background: #FFF;
  color: #36465d;
}

/* original */
* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}

ul {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
}

header {
  position: fixed;
  top: 0;
  left: 0;
}

article {
  background: #FFF;
}

.main {
  text-align: center;
  width: 540px;
  margin: auto;
}
