.ui.card, .ui.cards>.card {
  width: 100%;
}

body {
  background: #f5f5f5;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1.75em;
}

.main {
  width: 540px;
  height: 100%;
  margin: auto;
}

.main>.posts {
  margin-top: 0.875em;
}

.main>.signin {
  height: 100%;
  position: relative;
}

.main>.signin>.signin-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.main>.signin>.ui.vertical.icon.menu {
  height: 47px;
  width: 60px;
}